.section_two_file_response {
  max-width: 100%;
}

.two_file_container {
  height: 100%;
  /* overflow: scroll; */
  display: flex;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.file_question_container {
  padding: 1rem 2rem;
  /* border: 2px solid lightblue; */
  box-shadow: 0 0 10px rgb(194, 194, 194);
}

.file_question_container h2 {
  font-size: 24px;
  margin-bottom: 1.6rem;
  color: #7043ff;
}

.question_value {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 2.2rem;
}

.similarity_box {
  border: 2px solid #7043ff;
  height: 30rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.similarity_box h1 {
  color: #7043ff;
}

.border {
  border-bottom: 2px solid #9f9f9f;
}
